@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,section,header,nav,main,footer{margin:0;padding:0;}
img{border:0;display:block;}
a,u{text-decoration:none;}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
em,i{font-style:normal;}
b,strong{font-weight:100;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility: hidden;}
#new_left{
    width:100%;
    height:0;
    >ul{
        width:74px;
        height:100%;
        background:#d10048;
        position:fixed;
        left:0;
       
        > li{
            height:46px;
            position:relative;
            background:url("http://www.wm18.com/themes/newmmm/images/menuLine.png") no-repeat 0 bottom;
            &:hover{
                background:hotpink;
            }
            > a{
            display:block;
            height:100%;
            width:100%;
            line-height:46px;
            text-align: center;
            color:#fff;
            font-size:11px
            
         }
        }
        li:nth-child(1){
            height:56px;
        }
        li:nth-child(7) a{
            line-height: 16px;
            margin-top:5px;
        }
        .more{
            width:74px;
            height:0;
            > .anmore{
                padding-top:56px ;
                width:0px;
                height:0%;
                position:fixed;
                left:74px;
                top:0;
                background:#ccc;
                opacity:0;
                z-index: 2000;
                > a {
                    width:74px;
                    height:46px;
                    display:block;
                    font-size:11px;
                    color:#eee;
                    text-align: center;
                    line-height:45px;
                    border-bottom: 1px solid #fff;
                    &:hover{
                        background:hotpink ;
                    }
                }
                a:nth-child(1){
                    border-top:1px solid #fff;
                }
            }
            
        }
        
        
    }
}
/* sass */
//搜索框
#vivo_head{
    width:100%;
    height:80px;
    background:rgba(192,192,192,.5);
    &:hover .search p{
            display:block;
        }
    
    > .search{
        padding-top:20px;
        width:720px;
        margin: 0 auto;
        &:hover p{
            display:block;
        }
        .inp1{
            width:550px;
            height:45px;
            display:block;
            float:left;
            padding-left: 20px;
            outline:none;
        }
        .inp2{
            width:100px;
            height:47px;
            background:#000;
            display:block;
            float:left;
            color:#fff;
            text-align: center;
            line-height: 47px;
            margin-top:1px;
            &:hover{
                background:red;
            }
        }
        p{
            float:left;
            width:26px;
            height:24px;
            margin-top:12px;
            margin-left:10px;
            background:url("http://www.wm18.com/themes/newmmm/images/vivo-head-ico.png") no-repeat ;
            background-position: -85px 0px;
            display:none;
            &:hover{
               background-position: -85px -24px; 
            }
        }
    }
   
}
//头部
#top_lcon{
    width:984px;
    height:70px;
    margin:0 auto;
    background:#f0f0f0;
    overflow: hidden;
    >h1{
        width:314px;
        height:34px;
        background:url("http://www.wm18.com/themes/newmmm/images/newlogo.png")no-repeat;
        margin-top: 20px;
        float:left;
        
    }
    .sign{
        width:380px;
        height:40px;
        float:left;
        margin-left: 288px;
       
        margin-top:30px;
        p{
            float:left;
             height:13px;
            font-size: 11px;
            text-align: center;
            line-height: 13px;
             border-right: 1px solid #a888a8;
             >a{
                 color:#333;
             }
        }
        p:nth-of-type(1){
            width:22px;
            height:13px;
            
            position:relative;
            > b{
                display:block;
                background:#ccc;
                width:22px;
                height:22px;
                background:url("http://www.wm18.com/themes/newmmm/images/vivo-head-ico.png") no-repeat;
                background-position:-12px -12px;
                position:absolute;
                top:-4px;
                
            }
            
        }
        p:nth-of-type(2){
            width:36px;    
        }
        p:nth-of-type(3){
            width:36px;    
        }
        p:nth-of-type(4){
            width:60px;    
        }
        p:nth-of-type(5){
            position:relative;
            border-right:0;
           .aa1{
               margin-left: 10px;
               width:24px;
               height:20px;
               display:block;
               float:left;
               background:url("http://www.wm18.com/themes/newmmm/images/vivo-head-ico.png") no-repeat;
               background-position: -220px 0;
           } 
           span{
               background:#FF0000;
               border-radius: 50%;
               width:18px;
               height:18px;
               color:#fff;
               display:block;
               position:absolute;
               top:-8px;
               left:22px;
               text-align: center;
               line-height: 18px;
               float:left;
           }  
           strong{
               display:block;
               margin-left: 12px;
               float:left;
               width:170px;
               height:17px;
               background:url("http://www.wm18.com/themes/newmmm/images/tel-call.png") no-repeat;
           } 
        }
        
    }
}
//放大镜
#enlarge{
   width:984px;
   height:510px;
   margin:0 auto;
   padding:10px 40px;
   >.chart{
       
       width:410px;
       height:510px;
       float:left;
       margin-right:46px;
       position:relative;
       >.big_img{
           width:230px;
           height:250px;
           background:palegreen;
           position:absolute;
           overflow: hidden;
           top:0;
           left:420px;
           z-index: 10;
           display:none;
           > img{
               width:250*3px;
               height:364*3px;
               display:block;
               position:absolute;
               
           }
       }
      
       > .img_in{
          width:250px;
          height:364px; 
          border:1px solid #969696;
           padding:0 80px;
          img{width:100%;height:100%} 
          position:relative;
          
          >p{
              display:none;
              width:100px;
              height:100px;
              position:absolute;
              font-size: 30px;
              text-align: center;
              line-height:100px;
              top:0;
              left:80px;
              background:rgba(55,44,33,.5);
              cursor: move;
          }
         
          
       }
       > .small-map{
           width:415px;
           height:90px;
           margin-top:10px;
            li{
                width:95px;
                height:95px;
                border:1px solid #969696;
                float:left;
                margin-right: 4px;
                img{
                    width:100%;
                    height:100%;
                }
            }
       }
       
   }
   //放大镜右边
   .breakdown{
       width:464px;
       height:520px;
       float:left;
       
       
       > p{
           width:464px;
           font-size:12px;
           color:#666;
           line-height: 32px;
           padding-bottom:10px ;
           border-bottom: 1px dashed #ccc;
       }
       > .number{
           height:50px;
           > span{
               float:left;
               font-size:12px;
               width:150px;
               height:50px;
               line-height: 50px;
               color:#666;
           }
           b{
           width:150px;
           font-size:12px;
           float:right;
           height:50px;
           line-height: 50px;
           color:#666;
           }
       }
       >b{
           font-size: 20px;
           line-height: 20px;
           color:#cc3333;
       }
       >.amount{
           margin-top:20px;
           color:#666;
           font-size: 12px;
           
           span{
               display:inline-block;
               width:20px;
               height:20px;
               text-align: center;
               line-height: 20px;
               border:1px solid #ccc;
               
           }
           b{
               display:inline-block;
               width:40px;
               height:20px;
               text-align: center;
               line-height: 20px;
               border:1px solid #ccc;
           }
           i{
               display:inline-block;
               width:20px;
               height:20px;
               text-align: center;
               line-height: 20px;
               border:1px solid #ccc;
           }
       }
       .purchase{
           margin-top:12px;
           height:34px;
           width:460px;
           >a{
               width:142px;
               height:34px;
               display:block;
               background:#d20049;
               border-radius: 5px;
               color:#fff;
               text-align: center;
               line-height: 34px;
               float:left;
               margin-right:30px;
           }
           >p{
               width:103px;
               height:30px;
               float:left;
               text-align: center;
               background:url("http://www.wm18.com/themes/newmmm/images/deal_icons.png") no-repeat;
               background-position: 8px 10px;
               border:1px solid #ccc;
               border-radius:3px;
               line-height:30px;
               padding-left:5px;
               color:#aaa;
               font-size:12px;   
               &:hover{
                   background-position: 8px -22px;
               }
           }
       }
       >ul{
           width:460px;
           height:25px;
           margin-top: 18px;
           >a{
               display:block;
               width:25px;
               height:25px;
               float:left;
               margin-right: 2px;
               transition: 0.2s;
               background:url("http://www.wm18.com/themes/newmmm/images/common.png") no-repeat;
           }
           a:nth-child(1){
               background-position: -155px 0px;
               position:relative;
               >.shaer{
                   display:block;
                   width:180px;
                   height:200px;
                   background:#ccc;
                   position:absolute;
                   top:25px;
                   display:none;
                   span{
                       display:block;
                       height:30px;
                       background:#666;
                       color:#000000;
                       line-height: 30px;
                       line-height: 30px;
                   }
                   li{
                       width:65px;
                       height:30px;
                       line-height: 30px;
                       font-size:12px;
                       float:left;
                       padding-left:25px;
                       background:url("http://www.wm18.com/themes/newmmm/images/index-bg.png")no-repeat;
                       background-position:-55px -170px;
                       &:hover{
                           background:#669966 url("http://www.wm18.com/themes/newmmm/images/index-bg.png")no-repeat;
                           background-position:-55px -170px;
                       }
                   }
                   
               }
               &:hover{
                   background-position: -155px -25px;
                   .shaer{
                       display:block;
                   }
               }
           }
           a:nth-child(2){
               background-position: -125px 0px;
               &:hover{
                   background-position: -125px -25px;
               }
           }
           a:nth-child(3){
               background-position: -93px 0px;
               &:hover{
                   background-position: -93px -25px;
               }
           }
           a:nth-child(4){
               background-position: -62px 0px;
               &:hover{
                   background-position: -62px -25px;
               }
           }
           a:nth-child(5){
               background-position: -32px 0px;
               &:hover{
                   background-position: -32px -25px;
               }
           }
           a:nth-child(6){
               background-position: -2px 0px;
               &:hover{
                   background-position: -2px -25px;
               }
           }
       }
       
       
   }
   
}













//底下
footer{
    width:100%;
    height:524px;
    background:#ccc;
    > .under {
        width:984px;
        height:380px;
        margin: 0 auto;
        overflow: hidden;
        > .circular{
             width:324px;
             height:132px; 
             margin:0 auto;
             margin-top:70px;
             li{
                 float:left;
                 width:108px;
                  span{
                     width:76px;
                     height:76px;
                     display:block;
                     border-radius: 50%;
                     margin:0 auto;
                     background:url(../img/footer-bg.png);
                 } 
                 b{
                     width:108px;
                     > a{
                         width:108px;
                         display:block;
                         margin:0 auto;
                         height:50px;
                         line-height: 50px;
                         font-size: 15px;
                         text-align: center;
                         color:#aaa;
                     }
                 }              
             }
              li:nth-of-type(2) span{
                     background-position: 0 -106px;
                 }   
              li:nth-child(3) span{
                     background-position:0 -212px;
                 } 
            
        }
        > .links {
            width:720px;
            height:176px;
            margin:0 auto;
            >li{
                float:left;
                width:120px;
                img{
                    width:100px;
                    height:100px;
                    display:block;
                    margin-top: 6px;
                }
                p{
                    font-size: 18px;
                    color:#888;
                }
                a{
                    display:block;
                    height:30px;
                    line-height: 30px;
                    color:#888;
                    font-size: 13px;
                    &:hover{
                        color:#666;
                    }
                }
            }
        }
        
    }
    .lines{
        height:1px;
        width:100%;
        background:#666;
    }
    .btm{
        width:984px;
        margin:0 auto;
        li:nth-child(1){
           height:20px;
           width:542px;
           margin:0 auto;
           margin-top: 35px;
           p{
              font-size:12px;
               height:20px;
               color:#888;
               padding:0 15px;
               float:left;
               line-height: 20px;;
               border-right: 1px solid #888;
               &:hover {
                   color:#666;
                   }
           } 
           p:nth-child(5){
                border-right: 0;
           }
        }
        li:nth-child(2){
            height:20px;
         
            width:544px;
            margin:14px  auto 0;
            span{
                display:block;
                width:26px;
                height:28px;
                background:url(../img/newicon.png);
                float:left;
                margin-top:-8px;
                
                
            }
            p{
                font-size:12px;
               height:20px;
               color:#888;
               float:left;
            }
        }
        li:nth-child(3){
            width:472px;
            height:30px;
            margin: 10px auto 0;
            position:relative;
            img{
                float:left;
                margin-right:25px;
            }
            span{
                width:20px;
                height:20px;
                display:inline-block;
                background:url(../img/beian.png);
               position:absolute;
               left:250px;
               top:2px;
            }
            b{
                color:#888;
                font-size:11px;
            }
        }
    }
    
}


//右侧边栏
#side{
    width:55px;
    height:296px;
  
    position:fixed;
    top:68px;
    right:10px;
    .side_t{
        width:55px;
        height:90px;
        background:url("../img/rightSider_01.png");
        border-bottom: 1px solid #fff;
    }
    .side_phone{
              width:55px;
             height:90px;
             background:url("../img/rightSider_02.png");
             position: relative;
             transition:1s; 
            
             >p{
                 height:90px;
                 width:230px;
                 background:url(../img/kefu1.png);
                 position:absolute;
                 left:-300px;
                 
                 display:none;
                 
             }
    }
    .side_jump{
             width:55px;
             height:80px;
             background:url("../img/gonggao.jpg");
    }
    .side_scroll{
        width:55px;
        height:35px;
        background:url(../img/rightSider_04.png);
        display:none;
    }
}